fastapi
uvicorn[standard]
sqlalchemy[asyncio]
greenlet
alembic
asyncpg
psycopg2-binary
python-jose[cryptography]
bcrypt<5
passlib[bcrypt]
python-multipart
cloudinary
pydantic
pydantic-settings
aiofiles
email-validator
openpyxl
